@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.w-100 {
    width: 100%;
}

.logo-text {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.7px;
    color: #0B132A;
}

.VPN {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.7px;
    color: #0B132A;
}

.d-flex {
    display: flex;
}

.gap-10 {
    gap: 10px;
}

.align-item {
    align-items: center;
}

.n-links {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    color: #4F5665;
}

.slick-list {
    overflow: visible;
    padding: 0 20% 0 0;
    position: relative;
}

.overflow-h {
    overflow: hidden;
}

.slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: white;
}

.justify-between {
    justify-content: space-between;
}

.card-border {
    border: 2px solid#DDDDDD;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;

}

.errow {
    border-radius: 50%;
    border: 2px solid #F53838;
    width: 32px;
    height: 32px;
    background-color: white;
    z-index: 2;
    cursor: pointer;
}

.next {
    border-radius: 50%;
    border: 2px solid #F53838;
    width: 32px;
    height: 32px;
    background-color: white;
    z-index: 2;
    cursor: pointer;
}

.next:hover {
    background-color: #F53838;
}

.errow:hover {
    background-color: #F53838;
}

.next:hover svg path {
    fill: white;
}

.justify-end {
    justify-content: end;
}

.errow:hover svg path {
    fill: white;
}

.slick-slider {
    margin: 0 -15px;
}

.slick-slide {
    padding: 10px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

.card-border:hover {
    border: 2px solid #F53838;
}

.slick-dots li.slick-active button:before {
    background-color: #F53838;
    width: 45px;
    height: 15px;
    border-radius: 30px;
    opacity: 100%;
    z-index: 2;
}

.slick-dots li button:before,
.slick-dots li button {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #DDE0E4;
    border-radius: 50%;
}

.slick-dots {
    position: absolute;
    bottom: -80px;
    display: block;
    width: 100%;
    padding: 0;
    margin-left: 30px;
    list-style: none;
    text-align: left;
}

.card-pera {
    font-family: "Rubik", sans-serif;
    color: #0B132A;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;

}

.Signin {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    color: #0B132A;
}

.Signup-btn {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    color: #F53855;
    border: 1px solid #F53855;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    background-color: white;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.c-poineter {
    cursor: pointer;
}

.Signup-btn:hover {
    cursor: pointer;
    background-color: #F53855;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.main-text {
    font-family: "Rubik", sans-serif;
    font-size: 44px;
    font-weight: 500;
    line-height: 70px;
    color: #0B132A;
    max-width: 555px;
}

.start-btn {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    color: white;
    background-color: #F53838;
    border: none;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 9px 6px 29px 4px #FCCCCC;
    margin-top: 50px;


}
.f-wrap{
    flex-wrap:wrap;
}

.start-btn:hover {
    background-color: white;
    color: #F53838;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #F53838;
    transition: all 0.2s;

}

.lasles {
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    color: #0B132A;
}

.long-text {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #4F5665;
    margin-top: 20px;
    max-width: 555px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.three-line {
    height: 2px;
    width: 32px;
    background-color: black;
    flex-direction: row;
}
.mt-130{
    margin-top: 130px;
}

.mt-100 {
    margin-top: 100px;
}

.gap-7 {
    gap: 7px;
}

.p-20 {
    padding: 20px;
}

.f-d-c {
    flex-direction: column;
}

.menuicon {
    display: flex;
    position: relative;
    z-index: 10;
}

.menulist {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: -100%;
    top: 0;
    transition: all 300ms linear;
    background-color: white;
    position: fixed;
    z-index: 2;
}

.showlist {
    right: 0%;
    background-color: white;
}
.circle {
    border-radius: 50%;
    background-color: #FFECEC;
    width: 55px;
    height: 55px;
}

.justify-center {
    justify-content: center;
}

.number {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: #0B132A;
}

.user {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;

}

.gap-36 {
    gap: 36px;
}



.mt-100 {
    margin-top: 100px;
}

.box {
    box-shadow: 10px 5px 80px #F4F4F5;
    padding: 20px;
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
}

.provide-text {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    color: #0B132A;
    max-width: 383.41px;
    margin-top: 50px;
}

.subscribe {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    color: #0B132A;
    max-width: 371.61px;
}

.subscribe-pera {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
    padding-top: 20px;
}

.card-box {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px 10px #FAFAFB;
}

.bg-gray {
    background: linear-gradient(to top, #F7F7F7 50%, white 50%);
    padding-top: 50px;
    padding-bottom: 50px;
}

.apps {
    background-color: #F53838;
    border-radius: 50%;
    height: 26px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.rating {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #0B132A;
}

.apps:hover {
    box-shadow: 0px 0px 12px #F53838;
    scale: 1.2;
}

.earn {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #0B132A;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.email {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #AFB5C0;
    padding-top: 30px;
}

.heading {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #0B132A;
    padding-bottom: 10px;
}

.f-links {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
    padding-bottom: 10px;
}

.functions-text {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
    max-width: 427.88px;
    margin-top: 35px;
}

.pt-20 {
    padding-top: 20px;
}

.gift-card {
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    background-color: white;
}

.gift-card:hover {
    border-color: #F53838;
}

.mt-60 {
    margin-top: 60px;
}

.free-plane {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
    padding-top: 30px;
    padding-bottom: 30px;
}

.free {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    color: #0B132A;
    padding-top: 130px;
    padding-bottom: 20px;
}

.lite {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.pb-60 {
    padding-bottom: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-30 {
    margin-top: 30px;
}

.dollor-3 {
    padding-top: 100px;
}

.pt-10 {
    padding-top: 10px
}

.dollor-44 {
    padding-top: 27px;
}

.dollor-4 {
    padding-top: 33px;

}

.select-btn {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.96px;
    color: #F53838;
    width: 177.88px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid #F53838;
    background-color: white;
    margin-bottom: 25px;
}

.select-btn:hover {
    background-color: #F53838;
    border: none;
    color: white;
}

.choose {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    padding-top: 80px;
}

.gap-20 {
    gap: 20px;
}

.unlimited {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
    padding-top: 10px;
}
.background{
    background: linear-gradient( to bottom , #FAFAFA, #FDFDFD) ;
}
.pb-90{
    padding-bottom: 90px;
}

.choose-pera {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    padding-top: 20px;
    max-width: 555px;
    display: flex;
    justify-content: center;
}
.mt-10{
    margin-top: 10px;
}

.bg-blue {
    background-color: #FBFBFB;
}

.mt-80 {
    margin-top: 80px;
}

.mt24 {
    margin-top: 24px;
}

.power {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
}

.mt-20 {

    margin-top: 20px;
}

.mb-140 {
    margin-bottom: 140px;
}

.huge-text {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    margin-top: 100px;
}

.text-align {
    text-align: center;
}

.lasles-text {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
    max-width: 555px;
    padding-bottom: 150px;
    padding-top: 20px;
    max-width: 555px;
    text-align: center;
}

.ml-29 {
    margin-left: 29px;
}

.lasles-dark {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.col-2 {
    width: 16.66%;
    padding-left: 2px;
    padding-right: 12px;
}

.footer-pera {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
    max-width: 340px;
}

.name {
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #0B132A;
}

.trusted {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    max-width: 447.81px;
    text-align: center;

}

.trusted-pera {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    max-width: 555px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

.name-2 {
    font-family: "Rubik", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: #4F5665;
}

.lasles-f {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #4F5665;
    padding-top: 20px;

}

.p-30 {
    padding: 30px;
}

.menu {
    position: fixed;
    z-index: 10;
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: white;


}
.pl-20{
    padding-left: 20px;
}

.bg-g {
    background-color: #F8F8F8;
}
link{
    padding-bottom: 0px;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}
slick-dots li button:before,
.slick-dots li button {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #DDE0E4;
    border-radius: 50%;
}
.mt42{
    margin-top: 42px;
}

@media (min-width:576px) {
    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
        slick-dots li button:before,
        .slick-dots li button {
            content: '';
            width: 7px;
            height: 7px;
            background-color: #DDE0E4;
            border-radius: 50%;
        }

    .errow {
        width: 60px;
        height: 60px;
    }
    .next{
        width: 60px;
        height: 60px;
    }

    .name-2 {
        font-size: 18px;
    }

    .name {
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
    }

    .card-pera {
        font-size: 16px;
        line-height: 30px;
    }


}

@media (min-width:768px) {
    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .border {
        border-right: 2px solid #EEEFF2;
    }

}


@media (min-width:992px) {
    .menuicon {
        display: none;
    }

    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .menulist {
        display: flex;
    }

    .f-d-lg-r {
        flex-direction: row;
    }

    .btn-div {
        display: flex;
    }

    .f-d-r {
        flex-direction: row;
    }

    .Signin {
        padding-left: 26px;
    }

    .menulist {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        right: 0%;
        top: 0;
        transition: all 300ms linear;
        background-color: transparent;
        position: relative;
        z-index: 2;
    }

    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-2 {
        width: 16.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

}